

.rul_wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
}

.rul_wrapper *{
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;
}

.rul_ruler{
    display: block;
    position: absolute;
    border: 1px solid gray;
    pointer-events: all;
    filter: blur(0);
    -webkit-filter: blur(0);

}

.rul_corner{
    pointer-events: all;
    position: absolute;
    background-color: white;
    z-index: 10;
    cursor: pointer;
}

.rul_corner:hover{
    background-color: lightgray;
}

.rul_cornerTL{
    top:0;
    left:0;
    border-bottom: 1px solid gray;
    border-right:  1px solid gray;
}
.rul_cornerTR{
    top:1px;
    right:1px;
    border-bottom: 1px solid gray;
    border-left:  1px solid gray;
}
.rul_cornerBL{
    bottom:1px;
    left:1px;
    border-top: 1px solid gray;
    border-right:  1px solid gray;
}
.rul_cornerBR{
    bottom:1px;
    right:1px;
    border-top: 1px solid gray;
    border-left:  1px solid gray;
}
.rul_ruler_Vertical{
    cursor: ew-resize;
    z-index: 9;
    border-left: none;
}

.rul_ruler_Horizontal{
    cursor: ns-resize;
    z-index: 8;
    border-top: none;
}

.rul_line{
    position: absolute;
    border-left: 1px solid #56aff4;
    border-bottom: 1px solid #56aff4;
    pointer-events: all;
}
.rul_line:hover{
    border-left: 1px solid #458CC3;
    border-bottom: 1px solid #458CC3;
}

.rul_lineVer{
    top: 0;
    bottom: 0;
    width: 2px;

}
.rul_lineVer:hover{
    cursor: ew-resize;
}


.rul_lineHor{
    right: 0;
    left: 0;
    height: 2px;
}

.rul_lineHor:hover{
    cursor: ns-resize;
}